.bg-arts {
  background-color: #ed1c24;
}

.bg-entertainment {
  background-color: #ee3c80;
}

.bg-geography {
  background-color: #1055b1;
}

.bg-history {
  background-color: #f6c92f;
}

.bg-science {
  background-color: #17a84b;
}

.bg-sports {
  background-color: #ff6c00;
}